<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486814867638-voe0i795p0ktic03ccstnng01cn1gq2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486814867638-voe0i795p0ktic03ccstnng01cn1gq2q</string>
	<key>API_KEY</key>
	<string>AIzaSyBSSFab1MQkRtSqd-z9SMem2yoPCK-ZxjI</string>
	<key>GCM_SENDER_ID</key>
	<string>486814867638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>asdasf-b2f36</string>
	<key>STORAGE_BUCKET</key>
	<string>asdasf-b2f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486814867638:ios:7c62dd1362456c2bab4617</string>
</dict>
</plist>